@font-face {
  font-family: "iconfont"; /* Project id 2539786 */
  src: url('iconfont.woff2?t=1650865320651') format('woff2'),
       url('iconfont.woff?t=1650865320651') format('woff'),
       url('iconfont.ttf?t=1650865320651') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshezhi:before {
  content: "\e67a";
}

.icontongshezhi:before {
  content: "\e64e";
}

.iconsetting:before {
  content: "\e600";
}

.iconduobianxingxuanze:before {
  content: "\e6ec";
}

.iconyuanxing:before {
  content: "\e67e";
}

.iconpolyline-fill:before {
  content: "\e6bb";
}

.iconyoujiantou1:before {
  content: "\e632";
}

.icontianqi5:before {
  content: "\e70a";
}

.icontianqi-1:before {
  content: "\ec69";
}

.icontianqi-2:before {
  content: "\ec78";
}

.icontianqi-3:before {
  content: "\ec7e";
}

.icontianqitaifeng:before {
  content: "\e718";
}

.iconqixiangzhan:before {
  content: "\e60c";
}

.iconqiwen:before {
  content: "\e6b0";
}

.iconqiwen-:before {
  content: "\e6b2";
}

.icontianqi2:before {
  content: "\e66b";
}

.iconMBEfenggechangyongtubiao-tianqi:before {
  content: "\e60e";
}

.iconshuiwuqixiang:before {
  content: "\e8b8";
}

.icontianqiyubao:before {
  content: "\e605";
}

.iconqixiangzhan1:before {
  content: "\e602";
}

.icontianqi4:before {
  content: "\e66c";
}

.iconxiaoyu:before {
  content: "\e622";
}

.iconxue:before {
  content: "\e623";
}

.iconcloud:before {
  content: "\e689";
}

.icontianqitubiao_wu:before {
  content: "\e612";
}

.icontianqi:before {
  content: "\e667";
}

.icontianqi-wu:before {
  content: "\e661";
}

.icontianqi-longjuanfeng:before {
  content: "\e662";
}

.icontianqi-qing:before {
  content: "\e68a";
}

.icontianqichaxun:before {
  content: "\e619";
}

.icontianqi-:before {
  content: "\ec6e";
}

.icontianqi-baoxue:before {
  content: "\e635";
}

.icontianqi-weifeng:before {
  content: "\e663";
}

.icontianqi-fengbao:before {
  content: "\e664";
}

.icontianqi-shachenbao:before {
  content: "\e665";
}

.iconziyuan:before {
  content: "\e666";
}

.iconziyuan1:before {
  content: "\e668";
}

.iconziyuan2:before {
  content: "\e669";
}

.iconziyuan3:before {
  content: "\e66a";
}

.iconA:before {
  content: "\e6e7";
}

.icontianqitubiao-67:before {
  content: "\e6a4";
}

.icontianqitubiao-68:before {
  content: "\e6a5";
}

.icontianqi-leidiantianqi:before {
  content: "\e6dc";
}

.icontianqitubiao_qing:before {
  content: "\e613";
}

.icontianqi1:before {
  content: "\e609";
}

.icontianqi-baoxue1:before {
  content: "\e62f";
}

.icontianqi-baoyu:before {
  content: "\e631";
}

